.BtnBienvenida {
  width: 420px;
  height: 120px;
  border-radius: 22px;
  position: absolute; 
  top: 428px;
  right: 430px; 
  background-color: transparent;
  border: none;
}

.ImagenBienvenida {
  width: 1450px; 
  height: auto;
  top: 50%;
  left:auto;
}